<div class="row bg-info">
        <div class="col-md-6 text-center">
            <h3>CERCA UN FILM O UNA SERIE</h3>
        </div>
        <div class="col-md-6 text-center ">
            <div class="input-group">
                <input class="col-md-10"  placeholder="Search"  #inp name="film" type="text" >
                <div class="input-group-btn">
                    <button (click) = "addInput(inp.value)"  class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </div>
 
</div>

  